body {
    background: url("../image/bg.png");
    background-size: 100%;
}

.container {
    height: 450px;
    margin: 30px auto;
    position: relative;
}

.container img:hover {
    box-shadow: 35px 35px 35px rgba(50, 50, 50, 0.8);
    transform: rotate(0deg) scale(1.5);
    z-index: 1; /*代表图片层级，将其设置为最上面的图层*/
}

.container img {
    border-radius: 60px;
    height: 160px;
    padding: 10px;
    background-color: white;
    box-shadow: 15px 15px 15px rgba(50, 50, 50, 0.99);
    position: absolute;
    /*绝对定位--利用Left可以手动调整照片位置*/
    /*加入动画效果*/
    transition: all 1s ease-in;
}

.pic1 {
    transform: rotate(30deg);
    top: 90px;
    left: 600px;
}

.pic2 {
    left: 170px;
    top: 0;
    transform: rotate(-20deg);
}

.pic3 {
    right: 100px;
    transform: rotate(-5deg);
}

.pic4 {
    top: 40px;
    left: 300px;
    transform: rotate(-10deg);
}

.pic5 {
    left: 830px;
    top: 100px;
    transform: rotate(20deg);
}

.pic6 {
    left: 50px;
    transform: rotate(10deg);
}

.pic7 {
    left: 850px;
    top: 0px;
    transform: rotate(20deg);
}

.pic8 {
    buttom: -20px;
    top: 100px;
    transform: rotate(5deg);
}

.pic9 {
    left: 550px;
    top: -10px;
    transform: rotate(15deg);
}

.pic10 {
    left: 1100px;
    top: 150px;
    transform: rotate(-5deg);
}